/* ----------------------------------------------------------------------
 listV - vertical list
---------------------------------------------------------------------- */
.listV {
    width: 100%;
}

.listV > * + * {
    margin-top: 10px;
}

.listV_lg > * + * {
    margin-top: 20px;
}
