/* ----------------------------------------------------------------------
 listH - horizontal list
---------------------------------------------------------------------- */
.listH {
    display: flex;
}

.listH > * + * {
    margin-left: 20px;
}

.mix-listH_center {
    align-items: center;
}
