/* ----------------------------------------------------------------------
 vR - vertical rhythm
---------------------------------------------------------------------- */
$vR-RHYTHM: 5px;

.vR {
    margin-bottom: 5px;
}

@for $i from 2 through 16 {
    .vR_x#{$i} {
        margin-bottom: calc(#{$vR-RHYTHM} * #{$i});
    }
}
