//----------------------------------------------------------------------
// Variable constants
//----------------------------------------------------------------------
$site-HEIGHT: 100vh;
$site-LANDMARK_HEIGHT: 64px;

//----------------------------------------------------------------------
// Font properties
//----------------------------------------------------------------------
$FONT: Helvetica, Arial, sans-serif;
$FONT_SIZE: #{13px};

//----------------------------------------------------------------------
// Common Colors
//----------------------------------------------------------------------
$COLOR_PRIMARY: rgb(0, 200, 230);

//----------------------------------------------------------------------
// Breakpoints
//----------------------------------------------------------------------
$SCREEN_LG: 1600px;
